# TAREA

## Integración Montecarlo

1. Realizar las siguientes integrales. Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y cuyas columnas correspondan a las funciones.
    + $\int_{1}^{3} e^{x}\log(x)\text{d}x$.
    + $\int_1^3 \sin(x)\ln(x) \text{d}x$

In [26]:
import numpy as np
import pandas as pd

In [27]:
def montecarlo(f, a, b, N) :
    u = np.random.uniform(a, b, size=N)
    return((b-a)*np.mean(f(u)))

In [28]:
def f(x) :
    return (np.exp(x)) * (np.log(x))

N = np.logspace(1, 5, 5)

In [35]:
for i in N :
    table.loc[i, "Aproximación"] = montecarlo(f, 1, 3, int(i))
table

           f1 Error  Aproximación
10.0      NaN   NaN     17.819941
100.0     NaN   NaN     14.365280
1000.0    NaN   NaN     14.634878
10000.0   NaN   NaN     14.105353
100000.0  NaN   NaN     14.057951

In [32]:
def f1(x) :
    return (np.sin(x)) * (np.log(x))

N = np.logspace(1, 5, 5)

In [33]:
for i in N :
    table.loc[i, "Aproximación"] = montecarlo(f1, 1, 3, int(i))
table

           f1 Error  Aproximación
10.0      NaN   NaN      0.851480
100.0     NaN   NaN      0.867304
1000.0    NaN   NaN      0.875682
10000.0   NaN   NaN      0.867207
100000.0  NaN   NaN      0.870069

2. Aproximar el área de la región descrita por

$$x^2+2y^2\leq-2x+8y-7$$

Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y en las columnas el valor de aproximación y el error relativo.

Definir unos límites adecuados $a_1$, $b_1$, $a_2$ y $b_2$, para la región $R=\left[a_1,b_1\right]\times\left[a_2,b_2\right]$

In [58]:
def montecarlo2(region, ax, bx, ay, by, N) :
    x = np.random.uniform(ax, bx, N)
    y = np.random.uniform(ay, by, N)
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR


def f_bernoulli(x, y) :
    return ((x**2 +(2* y**2)) <= (-2*x+8*y-7))
    

montecarlo2=montecarlo2(f_bernoulli, -2, 2, -2, 2, 10)
montecarlo2

0.0

In [60]:
def montecarlo3(region, ax, bx, ay, by, N) :
    x = np.random.uniform(ax, bx, N)
    y = np.random.uniform(ay, by, N)
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR

def f_bernoulli(x, y) :
    return ((x**2 +(2* y**2)) <= (-2*x+8*y-7))
    

montecarlo3=montecarlo3(f_bernoulli, -2, 2, -2, 2, 100)
montecarlo3

1.44

In [61]:
def montecarlo4(region, ax, bx, ay, by, N) :
    x = np.random.uniform(ax, bx, N)
    y = np.random.uniform(ay, by, N)
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR

def f_bernoulli(x, y) :
    return ((x**2 +(2* y**2)) <= (-2*x+8*y-7))
    

montecarlo4=montecarlo4(f_bernoulli, -2, 2, -2, 2, 1000)
montecarlo4

2.224

In [62]:
def montecarlo5(region, ax, bx, ay, by, N) :
    x = np.random.uniform(ax, bx, N)
    y = np.random.uniform(ay, by, N)
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR

def f_bernoulli(x, y) :
    return ((x**2 +(2* y**2)) <= (-2*x+8*y-7))
    

montecarlo5=montecarlo5(f_bernoulli, -2, 2, -2, 2, 10**4)
montecarlo5

1.9952

In [63]:
def montecarlo6(region, ax, bx, ay, by, N) :
    x = np.random.uniform(ax, bx, N)
    y = np.random.uniform(ay, by, N)
    B = region(x, y)
    AR = (bx - ax)*(by - ay)
    return np.mean(B)*AR

def f_bernoulli(x, y) :
    return ((x**2 +(2* y**2)) <= (-2*x+8*y-7))
    

montecarlo6=montecarlo6(f_bernoulli, -2, 2, -2, 2, 10**5)
montecarlo6

2.01664

In [64]:
import pandas as pd

N = np.logspace(1, 5, 5) 
table = pd.DataFrame(columns=["Aproximación"], index=N)
table

         Aproximación
10.0              NaN
100.0             NaN
1000.0            NaN
10000.0           NaN
100000.0          NaN

In [65]:
table["Aproximacion"]=[montecarlo2, montecarlo3, montecarlo4, montecarlo5, montecarlo6]
table

         Aproximación  Aproximacion
10.0              NaN       0.00000
100.0             NaN       1.44000
1000.0            NaN       2.22400
10000.0           NaN       1.99520
100000.0          NaN       2.01664